[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]


[packages]
google-cloud-storage = "*"
google-cloud-speech = "*"
ffmpeg-python = "*"
google-generativeai = "*"
google-cloud-aiplatform = "*"
google-cloud-texttospeech = "*"
googletrans = "==4.0.0rc1"

[requires]
python_version = "3.10"